extends ../layout/index 


block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
block content
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            spam.font-normal Raices

        h2.text-center.text-2xl.font-extrabold= page
    div
        form(id="addImg" class="dropzone border-dashed border-2  w-full min:h-96 h-auto rounded flex-col justify-center itemse center" method="POST" action=`/add_img/${property.id}`)
            
        input(id="postImg" class="mt-5 w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Añadir Imagen")
        
block scripts   
    script(src="/js/add_img.js")